h4 {
    color: rgb(24, 166, 223);
  }
  mat-card {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    max-height: 600px;
    border: 1px solid;
  }
  
  .header {
    text-align: center;
  }