
<mat-card>
    <mat-card-content>
      <div class="header">
        <h4><strong>Add New Food Product</strong></h4>
      </div>
      <form (ngSubmit)="onAddFoodProduct()" name="foodProductForm" [formGroup]="foodProductForm">
        <div class="title">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Food name</mat-label>
            <input formControlName="foodName" matInput placeholder="Enter food name" required [(ngModel)]="food" />
            <mat-error *ngIf="!foodProductForm.controls['foodName'].valid">
              food name is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="price">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Price</mat-label>
              <input type="number" formControlName="price" matInput placeholder="Enter price" required [(ngModel)]="cost" />
              <mat-error *ngIf="!foodProductForm.controls['price'].valid">
                price is required
              </mat-error>
            </mat-form-field>
        </div>
  
        <div class="description">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Description</mat-label>
              <input formControlName="description" matInput placeholder="Enter food description" required [(ngModel)]="describe" />
              <mat-error *ngIf="!foodProductForm.controls['description'].valid">
                food description is required
              </mat-error>
            </mat-form-field>
        </div>

        <div class="btn-group" role="group" aria-label="Basic example">
            <button mat-raised-button color="primary" [disabled]="!foodProductForm.valid"> Add </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>