<nav class="navbar sticky-top navbar-expand-md navbar-light nav-container" id>
    <a routerLink="/products" class="navbar-brand">Food Shopping</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu"
        aria-controls="toggleMobileMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="toggleMobileMenu">
        <ul class="navbar-nav ms-auto">
            <li>
                <button class="nav-link btn btn-primary" id="login" routerLink="/login" routerLinkActive="active">Admin
                    Login</button>
            </li>
        </ul>

        <ul class="navbar-nav text-center">
            <li>
                <button routerLink="cart" class="btn btn-primary">
                    <mat-icon [matBadge]="totalCardCount" matBadgeColor="warn">add_shopping_cart</mat-icon>
                </button>
            </li>
        </ul>
    </div>
</nav>