.nav-container {
    background-color: #fff;
    padding-left: 200px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12);
}

.nav-link {
    letter-spacing: 0.4px;
}

#login {
    color: #fff;
    margin-right: 200px;
    border-radius: 20px;
    padding: 5px 25px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 16px;
}

#login:hover {
    color: #423F3F;
    background-color: #8AB4F8;
    border: 0px solid transparent;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
}