<div class="container">
  <h4><strong>Do you have an Account ? Sign up</strong></h4>
  <mat-button-toggle-group [(ngModel)]="selectedOption" name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="Admin-login">Admin login </mat-button-toggle>
    <mat-button-toggle value="Sign-up">Sign up </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<mat-card *ngIf="selectedOption ==='Admin-login'">
  <mat-card-content>
    <div class="header">
      <P>Sign In for adding food product</P>
    </div>
    <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
      <div class="emailInput">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" formControlName="email" matInput placeholder="Enter email address" [(ngModel)]="username"
            required />
          <mat-error *ngIf="!loginForm.controls['email'].valid">
            Email is required
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" [(ngModel)]="password"
            required />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide">
            <mat-icon>
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </button>


          <mat-error *ngIf="!loginForm.controls['password'].valid">
            Password is required
          </mat-error>

        </mat-form-field><br>
      </div>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button (click)=" adminLogin(); navigate(username,password)" type="submit" id="button" class="btn ">Admin Login
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>




<mat-card *ngIf="selectedOption ==='Sign-up'">
  <mat-card-content>
    <div class="header">
      <P>Sign Up for adding food product</P>
    </div>
    <form (ngSubmit)="onSignUpValidate()" name="signUpForm" [formGroup]="signUpForm">
      <div class="username">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Username</mat-label>
          <input formControlName="signupUsername" matInput placeholder="Enter username" />
          <mat-error *ngIf="!signUpForm.controls['signupUsername'].valid">
            username is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="emailInput">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="signupEmail" matInput placeholder="Enter email address" />
          <mat-error *ngIf="!signUpForm.controls['signupEmail'].valid">
            Email is required
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input formControlName="signupPassword" matInput [type]=" hide ? 'password' : 'text'" />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide">
            <mat-icon>
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </button>


          <mat-error *ngIf="!signUpForm.controls['signupPassword'].valid">
            Password is required
          </mat-error>

        </mat-form-field><br>
      </div>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button (click)="onSignUp()" type="submit" id="button" class="btn" >Sign up</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>