.food-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.food-image {
    padding: 20px;
}

.food-product {
    margin: 10px;
    height: 400px;
    max-width: 350PX;
}

.food-product img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.food-name {
    text-align: center;
    align-items: center;
    font-size: large;
    font-weight: 700;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1;
    -webkit-box-orient: vertical;
 
}

.add-button {
        width: 300px;
}