<div class="container">
    <div class="food-card">
        <div *ngFor="let item of foodProduct">
            <mat-card class="food-product">
                <div>
                    <img class="food-image" mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSicywS9T9mi7f_6gKsNnhxNSf3mbhL7flZgw&usqp=CAU" alt="Photo of a Shiba Inu">
                </div>
                <div>
                    <mat-card-content>
                        <h3 class="food-name">
                            {{ item.foodName }}
                        </h3>
                        <p>
                           <strong>cost: </strong> Rs {{ item.price }}
                        </p>
                        <p class="overflow description">
                            {{ item.description }}
                        </p>
                    </mat-card-content>
                </div>
                <mat-card-actions class="add-to-cart">
                    <button class="add-button" mat-raised-button color="primary" (click)="addtocart(item)"> Add to cart </button>
                </mat-card-actions>
            </mat-card>
              
        </div>
    </div>
</div>

